/* 
  HTML5 ✰ Boilerplate 
  
  style.css contains a reset, font normalization and some base styles.
  
  credit is left where credit is due.
  much inspiration was taken from these projects:
    yui.yahooapis.com/2.8.1/build/base/base.css
    camendesign.com/design/
    praegnanz.de/weblog/htmlcssjs-kickstart
*/

/* 
  html5doctor.com Reset Stylesheet (Eric Meyer's Reset Reloaded + HTML5 baseline)
  v1.4 2009-07-27 | Authors: Eric Meyer & Richard Clark
  html5doctor.com/html-5-reset-stylesheet/
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
}                  

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section { 
    display:block;
}

nav ul { list-style:none; }

blockquote, q { quotes:none; }

blockquote:before, blockquote:after,
q:before, q:after { content:''; content:none; }

a { margin:0; padding:0; font-size:100%; vertical-align:baseline; background:transparent; }

ins { background-color:#ff9; color:#000; text-decoration:none; }

mark { background-color:#ff9; color:#000; font-style:italic; font-weight:bold; }

del { text-decoration: line-through; }

abbr[title], dfn[title] { border-bottom:1px dotted; cursor:help; }

/* tables still need cellspacing="0" in the markup */
table { border-collapse:collapse; border-spacing:0; }

hr { display:block; height:1px; border:0; border-top:1px solid #ccc; margin:1em 0; padding:0; }

input, select { vertical-align:middle; }

/* END RESET CSS */


/* fonts.css from the YUI Library: developer.yahoo.com/yui/
   Refer to developer.yahoo.com/yui/3/cssfonts/ for font sizing percentages

  There are three custom edits:
   * remove arial, helvetica from explicit font stack
   * we normalize monospace styles ourselves
   * table font-size is reset in the HTML5 reset above so there is no need to repeat
*/
body { font:13px/1.231 sans-serif; *font-size:small; } /* hack retained to preserve specificity */

select, input, textarea, button { font:99% sans-serif; }

/* normalize monospace sizing 
 * en.wikipedia.org/wiki/MediaWiki_talk:Common.css/Archive_11#Teletype_style_fix_for_Chrome
 */
pre, code, kbd, samp { font-family: monospace, sans-serif; }
 

/* 
 * minimal base styles 
 */


body, select, input, textarea { 
  /* #444 looks better than black: twitter.com/H_FJ/statuses/11800719859 */ 
  color: #444; 
  /* set your base font here, to apply evenly */
  /* font-family: Georgia, serif;  */   
}

/* Headers (h1,h2,etc) have no default font-size or margin,
   you'll want to define those yourself. */ 
h1,h2,h3,h4,h5,h6,dt { padding:0;font-family:IlinkolnedBold;}

/* always force a scrollbar in non-IE */ 
html { overflow-y: scroll; }

 
/* Accessible focus treatment: people.opera.com/patrickl/experiments/keyboard/test */
a:hover, a:active { outline: none; }

a, a:active, a:visited {color: #607890;}
a:hover { color: #036; text-decoration:underline;}


ul, ol { margin-left: 1.8em; }
ol { list-style-type: decimal; }

/* Remove margins for navigation lists */
nav ul, nav li { margin: 0; } 

small { font-size: 85%; }
strong, th { font-weight: bold; }

td, td img { vertical-align: top; } 

sub { vertical-align: sub; font-size: smaller; }
sup { vertical-align: super; font-size: smaller; }

pre { 
  padding: 15px; 
  
  /* www.pathf.com/blogs/2008/05/formatting-quoted-code-in-blog-posts-css21-white-space-pre-wrap/ */
  white-space: pre; /* CSS2 */
  white-space: pre-wrap; /* CSS 2.1 */
  white-space: pre-line; /* CSS 3 (and 2.1 as well, actually) */
  word-wrap: break-word; /* IE */
}
 
textarea { overflow: auto; } /* thnx ivannikolic! www.sitepoint.com/blogs/2010/08/20/ie-remove-textarea-scrollbars/ */

.ie6 legend, .ie7 legend { margin-left: -7px; } /* thnx ivannikolic! */

/* align checkboxes, radios, text inputs with their label
   by: Thierry Koblentz tjkdesign.com/ez-css/css/base.css  */
input[type="radio"] { vertical-align: text-bottom; }
input[type="checkbox"] { vertical-align: bottom; }
.ie7 input[type="checkbox"] { vertical-align: baseline; }
.ie6 input { vertical-align: text-bottom; }

/* hand cursor on clickable input elements */
label, input[type=button], input[type=submit], button { cursor: pointer; }
 
/* webkit browsers add a 2px margin outside the chrome of form elements */  
button, input, select, textarea { margin: 0; }

/* colors for form validity */
input:valid, textarea:valid   {  }
input:invalid, textarea:invalid { 
      border-radius: 1px;
    -moz-box-shadow: 0px 0px 5px red; 
 -webkit-box-shadow: 0px 0px 5px red; 
         box-shadow: 0px 0px 5px red;
}
.no-boxshadow input:invalid, 
.no-boxshadow textarea:invalid { background-color: #f0dddd; }


/* These selection declarations have to be separate.
   No text-shadow: twitter.com/miketaylr/status/12228805301 
   Also: hot pink. */
::-moz-selection{ background: #FF5E99; color:#fff; text-shadow: none; }
::selection { background:#FF5E99; color:#fff; text-shadow: none; } 

/*  j.mp/webkit-tap-highlight-color */
a:link { -webkit-tap-highlight-color: #FF5E99; } 

/* make buttons play nice in IE:    
   www.viget.com/inspire/styling-the-button-element-in-internet-explorer/ */
button {  width: auto; overflow: visible; }
 
/* bicubic resizing for non-native sized IMG: 
   code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/ */
.ie7 img { -ms-interpolation-mode: bicubic; }



/* 
 * Non-semantic helper classes 
 */

/* for image replacement */
.ir { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; }

/* Hide for both screenreaders and browsers
   css-discuss.incutio.com/wiki/Screenreader_Visibility */
.hidden { display: none; visibility: hidden; } 

/* Hide only visually, but have it available for screenreaders 
   www.webaim.org/techniques/css/invisiblecontent/  &  j.mp/visuallyhidden  */
.visuallyhidden { position: absolute !important;    
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px); }

/* Hide visually and from screenreaders, but maintain layout */
.invisible { visibility: hidden; }

/* >> The Magnificent CLEARFIX: Updated to prevent margin-collapsing on child elements << j.mp/bestclearfix */
.clearfix:before, .clearfix:after {
  content: "\0020"; display: block; height: 0; visibility: hidden;	
} 

.clearfix:after { clear: both; }
/* Fix clearfix: blueprintcss.lighthouseapp.com/projects/15318/tickets/5-extra-margin-padding-bottom-of-page */
.clearfix { zoom: 1; }






 /* Primary Styles
    Author: Nelson Kelem
 */
@font-face {font-family: IlinkolnedBold; font-weight:bold; src: url('typefonts/ilinkoln-Bold.otf');}
@font-face {font-family: Ilinkolned; src: url('typefonts/ilinkoln.otf');}
body {
	background:none repeat scroll 0 0 #FAFAFA;
	color:#222222;
	font-family:Ilinkolned,  "proxima nova","proxima-nova-2",helvetica,arial,verdana,sans-serif;
	font-size:14px;
	line-height:1.4;
	margin:0;
	text-shadow:0 1px 0 #FFFFFF;
}

p {margin:0 0 1em; text-align:justify;}
a { color:#336699 ; text-decoration:none;}
strong {color: #444444;}
pre, code{ 
	font:12px Monaco,"Courier New","DejaVu Sans Mono","Bitstream Vera Sans Mono",monospace;
}
.hr{
	border-color:-moz-use-text-color -moz-use-text-color #CCCCCC;
	border-style:none none solid;
	border-width:0 0 1px;
	margin:30px 0 10px;
	padding:0;
}

#flash_notice {
  color: green;
}

.float_rt{float:right;}
.float_lt{float:left;}
.float_ctr{text-align:center;}
pre{
	background-color: #F8F8FF !important;
	border: 1px solid #DEDEDE !important;
	color: #444444 !important;
	font-size: 12px !important;
	line-height: 1.5em !important;
	margin: 1em 0 !important;
	overflow: auto !important;
	padding: 0.5em !important;
}

blockquote {
	border-left:1px solid #CCCCCC;
	color:#666666;
	font-size:13px;
	font-style:italic;
	line-height:1.5em;
	margin-left:2em;
	padding-left:1em;
}

img{ border:none;}

input, textarea {
	border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	background: none repeat scroll 0 0 #F5F5F5;
	border: 1px solid #CCCCCC;
	margin-bottom: 10px;
	font-size: 14px;
	padding: 7px;
	width: 300px;
	color: #999;
}

textarea{ width: 90%; }

input:hover, textarea:hover {
	background: none repeat scroll 0 0 #FFFFFF;
	border: 1px solid #CED771;
}

input:focus, textarea:focus {
	background: none repeat scroll 0 0 #FFFFFF;
	border: 1px solid #A5AE44;
	color: #333333;
}

input[type=submit]{
	width: auto;
	padding: 4px 5px;
	color: #374816;
	background-image: (-webkit-);
	background-image: (-moz-);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #A0AA3C;
}
input[type=checkbox], input[type=radio]{width:auto;}

/*SITEWIDE CSS*/

h1, h2, h3, h4, h5, h6 {
	color:#444444;
	text-transform:uppercase;
}

header{
	background:none repeat scroll 0 0 #FAFAFA;
	border-bottom:1px solid #666666;
	color:#555555;
	margin:5px auto 0;
	padding:0 0 0.5em;
}

header img{
	margin:10px 0 0;
	vertical-align:top;
}

header h1{
	font-family:georgia,serif;
	font-size:8em;
	padding:0;
	line-height: 1;
	text-align:center;
	text-transform: none;
	/* font-style:oblique; */
}

header em {font-size: 0.8em;font-style: normal; }
header h1 a, header h1 a:hover, header h1 a:visited, header h1 a:active {color:#000; }

#container {
	width:960px;
	margin:10px auto;
}

#main {
	display: block;
	width:680px;
	padding:10px 0;
	margin: 10px 20px 0 0;
	float:left;
}

#main form .field ul{width:270px; float:left}

/*MAIN CSS*/

article {
	padding-bottom: 40px;
	border-bottom: 1px solid #ccc;
}
article h1 {
	font-size:28px;
	letter-spacing:-0.05em;
}

article h2 {
	font-size: 13px;
	font-weight:normal;
	text-transform:none;
	color:#666666;
	margin:0 0 1.25em;
}

.sponsored_article{-moz-border-radius: 4px 4px 4px 4px;
	background-color: #FBF9EE;
	border: 1px solid #FCEFA1;
	clear: both;
	color: #363636;
	margin: 10px;
	padding: 10px;}

.speech-bubl {
	position: relative;
}
a.speech-bubl {
	color: #FFF;
	text-decoration: none;
}

.speech-bubl em{
	font-style: normal;
	background: #019AA8;
	padding: 0 0.4em;
	border-radius: 0.25em;
	-moz-border-radius: 0.25em;
	-webkit-border-radius: 0.25em;
	position: relative;
	text-shadow: none;
	
}

.speech-bubl .point {
	border-bottom: 0.45em solid transparent;
	border-left: 0.45em solid #019AA8;
	display: block;
	height: 0;
	left: 0.4em;
	overflow: hidden;
	position: absolute;
	top: 1.1em;
	width: 0; 
}

aside{
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	background-color: #FFFFFF;
	color: #666666;
	display: block;
	float: left;
	font-size: 12px;
	line-height: 1.4em;
	margin-top: 20px;
	padding: 10px;
	width: 240px;
}

aside ul, aside li{
	display: inline-table;
	list-style-type: none;
	margin-left: 0;
}

aside h2, aside dt{
	/* font-size:10px; */
	margin:0 0 5px;
	text-transform:uppercase;
	font-weight: normal;
}

aside > dl, aside > div { margin-bottom: 40px;}

aside strong{ color: #127CC4; font-size: 14px;}

aside #sponsors dd{
	background:#E9E9E9;
	border-color: #CCCCCC #FFFFFF #FFFFFF #CCCCCC;
	border-right: 1px solid #FFFFFF;
	border-style: solid;
	border-width: 1px;
	margin: 5px 0;
	padding: 10px 15px;
}

aside #glowing-jobs dd {
	margin-bottom: 15px;
}

/* aside#new-events dd:first-child { font-size: 5em; color: #0A90D6;} */
footer{
	text-align: center;
	width: 100%;
	clear: both;
	margin-top:10px;
}
footer p{text-align: center;}

#comment-list {
	display: inline-block;
	list-style: none;
	margin-left: 0;

}

#comment-list li{
	float: left;
	/*border-bottom: 1px solid #ccc;*/
	display: inline-block;
	padding-top: 10px;
}

#comment-list .comment {
	border-right: 1px solid #CCCCCC;
	float: left;
	margin-right: 5px;
	padding-right:10px;
	width: 480px;
}

#comment-list .commentor {
	width: 175px;
	float: left;
}

#comment-form{
	display:inline-block;
}

/*Members*/
.member_img{width:150px;margin-right: 10px;text-align: center;}
.member_img img{padding:5px;border:1px solid #ccc;background-color:##fff;-moz-border-radius:4px;border-radius:4px;-webkit-border-radius:4px;}
.member_info{width:500px;clear:both;}
#main  ul { list-style:none;margin-left:0;}
#main ul li{border-bottom:1px solid #ccc;padding:10px 0;}
#main .article ul li{list-style-type:circle;margin-left:20px;border-bottom:none;}
#main article li{border-bottom:none;padding:3px 0;}
#flash_alert {margin-top:10px;font-weight:bold;color:#FFF;text-align:center;padding:5px 10px;background:#fbd503;border:2px solid #fbac03;}
#flash_notice{margin-top:10px;font-weight:bold;color:#FFF;text-align:center;padding:5px 10px;background:#12cc35;border:2px solid #03961f;}
#flash_error {margin-top:10px;font-weight:bold;color:#FFF;text-align:center;padding:5px 10px;background:#E34C25;border:2px solid #c9350e;}

/*LINCOLN HACK*/
#hack_event{background-color:#e34c25;font-family: 'Arvo', arial, serif;text-align:center;padding:10px;border-radius:8px;-moz-border-radius:8px;-webkit-border-radius:8px;margin:10px 0;}
#hack_event span{line-height:24px;}
#hack_event span a,#hack_event h3, #hack_event time{font-size:18px;color:#fff;}
#hack_event h3, #hack_event time{font-size:18px;color:#111;text-shadow:0 1px 0 #999999;padding-bottom:10px;}




/*
 * Media queries for responsive design
 * These follow after primary styles so they will successfully override. 
 */

@media all and (orientation:portrait) { 
  /* Style adjustments for portrait mode goes here */
  
}

@media all and (orientation:landscape) { 
  /* Style adjustments for landscape mode goes here */
  
}

/* Grade-A Mobile Browsers (Opera Mobile, iPhone Safari, Android Chrome)  
   Consider this: www.cloudfour.com/css-media-query-for-mobile-is-fools-gold/ */
@media screen and (max-device-width: 480px) {
  
  
  /* Uncomment if you don't want iOS and WinMobile to mobile-optimize the text for you
     j.mp/textsizeadjust 
  html { -webkit-text-size-adjust:none; -ms-text-size-adjust:none; } */
}

/* 
 * print styles
 * inlined to avoid required HTTP connection www.phpied.com/delay-loading-your-print-css/ 
 */
@media print {
  * { background: transparent !important; color: #444 !important; text-shadow: none !important; }
  a, a:visited { color: #444 !important; text-decoration: underline; }
  a:after { content: " (" attr(href) ")"; } 
  abbr:after { content: " (" attr(title) ")"; }
  .ir a:after { content: ""; }  /* Don't show links for images */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* css-discuss.incutio.com/wiki/Printing_Tables */ 
  tr, img { page-break-inside: avoid; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3{ page-break-after: avoid; }
}

