<article>
	<h1>What is iLinkoln about</h1>
	<p>iLinkoln Digital Media Meetup Group is a grassroots group based on sharing knowledge on entrepreneurship, technology, web development, design, collaborations, how-to's, and making friends in our local community, started in August 2010 by Nelson Kelem.</p>
	<p>We want to meet others who are interested in some aspect of the digital world, the online world and web technology. You could be a developer, designer, VC, entrepreneur, a digital-lifestyle enthusiast or just love the web, we would like to have you along!</p>
	
	<h3>Venue</h3>
	<p>We meet in <strong>THE HUB</strong> at The Engine Shed or best known as <strong>The Tower Bar</strong>. The Hub is the red section of the building on the left of The Tower Bar. Our meetings start at <strong><em>19:00HRS to 22:00HRS</em></strong>.</p>
	<h3>Our aim</h3>
	<p>Our aim is to work together to refresh the creative, technical, and professional culture of New Media endeavours in and around Lincolnshire. Promoting design, technology, usability, standards and SEO &amp; Socialmedia.</p>
	<p>The group is especially looking for people involved locally with a business that wish to get online, get better results online, a web-based business, or perhaps work for an online agency, or use the web on a daily basis as part of their working day.</p> 
	<p><strong>Who would like this MeetUp?</strong></p>
		<ul>
		<li>- Business owners/executives</li>
		<li>- SEO experts and wannabes</li>
		<li>- Copywriters</li>
		<li>- Web/Graphic designers</li>
		<li>- Web developers</li>
		<li>- Web Marketing Consultants</li>
		<li>- Anyone who uses the web for business</li>
		<li>- Social Media users and experts</li>
		<li>- Bloggers</li>
		<li>- Technologists</li>
		<li>- People who love Mobile/Web-Apps</li>
		<li>- Those open to teaching and sharing their expertise for the good of all</li>
		<li>- Students who are looking to engage real world opportunities, to work in the industry or/and to learn something from possible employers/colleagues.</li>
		</ul>
	<p>Also students who would like to learn other programming languages like Ruby from our own published member Peter Cooper.</p>
	<h3>What you get from attending</h3>
		<ul>
		<li>- Meet new like-minded people</li>
		<li>- Have an opportunity to talk to people with similar interests</li>
		<li>- Learn something new</li>
		<li>- Express with PASSION your opinion on anything digital</li>
		<li>- Network for business opportunities</li>
		<li>- Hear talks from experts</li>
		<li>- Discuss new technologies</li>
		<li>- Promote digital culture in the region and yourself</li>
		<li>- Learn something new that will keep you on the edge of "TODAY", and help you effect change.</li>
		</ul>
	<p>Above all the knowledge that sharing your expertise is self preservation.</p>
	<h3>Our Calendar</h3>
	<p>Currently we meet every 2nd and 4th Tuesday of the month. If you are in the Lincoln area and are interested in attending and/or organising community meetings, join this group so we can keep you updated.</p>
	
	<p>To see the upcoming meetings and events please go to our <%= link_to "Calendar", "/events", :title => "calendar of events and meetings" %></p>
	<p><strong>We will be starting to host one-day conferences and feature guest speakers in the near future, so do get in touch if you would like to talk about a specific topic.</strong></p>

</article>